.downer {
	z-index: 20;
	position: absolute;
	width: 64px;
	height: 64px;
	right: 4px;
	-webkit-transition: opacity 0.5s ease;
}

.downer.active {
	opacity: 0;
}

.chevron {
  position: absolute;
  width: 1.57rem;
  height: 0.36rem;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
 content: '';
 position: absolute;
 top: 0;
 height: 100%;
 width: 50%;
 background-color:rgba(0, 0, 0, 0.5);
	box-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

.chevron:before {
 left: 0;
 transform: skewY(30deg);
}

.chevron:after {
 right: 0;
 width: 50%;
 transform: skewY(-30deg);
}

@keyframes move-chevron {
 25% {
  opacity: 1;
	}
 33.3% {
  opacity: 1;
  transform: translateY(1.715rem);
 }
 66.6% {
  opacity: 1;
  transform: translateY(2.336rem);
 }
 100% {
  opacity: 0;
  transform: translateY(3.6rem) scale(0.5);
 }
}